@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.center {
    text-align: center;
}

.jumbotronhome {
    background-image: asset-url('background.png');
    background-size: cover;
    height: 550px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #bfbfbf;
    color: #808080
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}