<div class="container">
    <footer>
        <small>
            Copyright by Donastien Karoumbata
        </small>
        <nav>
            <ul>
            <li><%= link_to "A propos", about_path %></li>

            </ul>
        </nav>
    </footer>
</div>